<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> 
<web-app id="WebApp"> 
      <display-name>globalincidents</display-name> 
      <context-param> 
             <param-name>configFile</param-name> 
             <param-value>C:\Program Files (x86)\Apache Software Foundation\Tomcat 6.0\conf</param-value> 
             <description>Archivo de Configuracion del LogicServer</description> 
      </context-param> 
	<servlet> 
		<servlet-name>LogicServerAppServlet</servlet-name> 
		<display-name>LogicServerAppServlet</display-name> 
		<servlet-class>com.mcmsoftware.project.LogicServerAppServlet</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>servletTable110LT1</servlet-name> 
		<display-name>servletTable110LT1</display-name> 
		<servlet-class>com.mcmsoftware.project.servletTable110LT1</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>servlet110IN6</servlet-name> 
		<display-name>servlet110IN6</display-name> 
		<servlet-class>com.mcmsoftware.project.servlet110IN6</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>servlet110UD11</servlet-name> 
		<display-name>servlet110UD11</display-name> 
		<servlet-class>com.mcmsoftware.project.servlet110UD11</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>servlet110UD15</servlet-name> 
		<display-name>servlet110UD15</display-name> 
		<servlet-class>com.mcmsoftware.project.servlet110UD15</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>LogicServerAppServlet</servlet-name> 
		<url-pattern>/LogicServerAppServlet</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>servletTable110LT1</servlet-name> 
		<url-pattern>/servletTable110LT1</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>servlet110IN6</servlet-name> 
		<url-pattern>/servlet110IN6</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>servlet110UD11</servlet-name> 
		<url-pattern>/servlet110UD11</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>servlet110UD15</servlet-name> 
		<url-pattern>/servlet110UD15</url-pattern>  
	</servlet-mapping> 
	<welcome-file-list> 
	      <welcome-file>index.html</welcome-file> 
	      <welcome-file>index.htm</welcome-file> 
	      <welcome-file>index.jsp</welcome-file> 
	      <welcome-file>default.html</welcome-file> 
	      <welcome-file>default.htm</welcome-file> 
	      <welcome-file>default.jsp</welcome-file> 
	</welcome-file-list> 
	<jsp-config> 
	<taglib> 
	      <taglib-uri>http://jakarta.apache.org/taglibs/datetime-1.0</taglib-uri> 
	      <taglib-location>/WEB-INF/taglibs/taglibs-datetime.tld</taglib-location> 
	</taglib> 
	</jsp-config> 
</web-app>