

.tabularNewView {

  font-size: 85%;

  border-top: 1px #D9D9D9 solid;

  background: #FFFFFF;

  width:100%;

}



.tabularNewView th {

   border-bottom: 1px #FFFFFFsolid;

   border-right: 1px #D9D9D9 solid;

   font-size: 90%;

   background: #DADFE0;

   color: #343434;

   text-align: left;

}



.tabularNewView td {

  border-right: 1px #d9d9d9 solid;

  border-bottom: 1px #D9D9D9 solid;

  color: #313131;

  font-size: 90%;

  height: 30px; 

  text-align: left;

}



.tabularNewView .odd{

  background: #FAFAFA !important;

}



.smallHeadingNew {

  font-size: 85%;

  color: #000;

  font-weight:bold;

}

