
ul, li, form, textarea {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
#tabs {
  position: relative;
  z-index: 30;
  height: 24px;
  font-size: 90%;
}
#tabs ul {
  width: 100%;
}
#tabs li.addtab {
  font-weight: normal;
  margin-right: -3px;
  padding-bottom: 0px;
}
.tab{
  float:left;
  height: 23px;
  line-height: 21px;
  border-bottom: 1px #7aa5d6 solid;
}
.selectedtab, .unselectedtab {
  cursor: hand;
  cursor: pointer;
}
.tab .spacer {
  width: 8px;
}
.tab span {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.selectedtab {
  font-weight: bold;
  background-color: #F2F4F5;
  border: 1px #7aa5d6 solid;
  border-bottom: 0px;
  border-bottom: none;
}
.unselectedtab {
  background-color: #e5ecf9;
  border: 1px #7aa5d6 solid;
  height: 22px;
}
.selectedtab_l, .selectedtab_r, .unselectedtab_l, .unselectedtab_r {
  width: 2px;
}
.tab_hover {
  background-color: #7aa5d6;
}

#addstuff {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  line-height: 21px;
  float: none;
}
#addstuff .new, .tab .lf {
  padding-right: 0px;
}
#addstuff span {
  padding: 0px;
}
.selectedtab {
  color: #3366cc;
}
.unselectedtab {
  color: #262626;
}
