.tab { 
	font-family: arial,sans-serif; 
	font-size: 12px;
	width: 140px;
	height:15px;
	white-space: nowrap;
	text-align: center;
	border-color: #7AA5D6;
	border-left: 1px solid #7AA5D6;
	border-right: 1px #7AA5D6 solid;
	border-top: 1px #7AA5D6 solid;
	border-bottom: 0px solid white;
	padding-top: 1px;
	padding-bottom: 5px;
	cursor: pointer;
	}
.tabhold { 
	background-color: #E5ECF9;
	color: black;
	text-align: center;
	font-weight:bold;
	font-size: 10px;
	}
.tabfocus { 
	background-color: #F2F4F5;
	color: #3366CC;
	text-align: center;
	font-size: 10px;
	}
.tabcontent { 
	font-family: arial,sans-serif; 
	font-size: 13px;
	text-align: justify;
	width: 580px;
	height: 290px;
	background-color:#F2F4F5;
	border-style: solid;
	border-color: #7AA5D6;
	border-width: 1px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #003366;
	}